<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Title</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	</head>
	<body>
		<h1 class="display-1 text-center">New Tamagotchi</h1>
		<form action="/tamagotchi" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" class="form-control" required>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
	</body>
</html>